<div class="col-md-10 " *ngIf = "user">
    <form>
        <div class="form-group">
            UserId : {{user.userId}}
        </div> 
        <div class="form-group">
            Username : {{user.name}}
        </div> 
        <div class="form-group">
            UserType : {{user.userType}}
        </div> 
        <div class="form-group">
            <label >Mobile Number :</label>
            {{user.mobileNum}}
        </div> 
        <div class="form-group">
            <label >EmailId : </label>
            {{user.emailId}}
        </div> 
        <div class="form-group">
            <label >Address :</label>
            {{user.address}}
        </div> 
</form>
</div> 